body,html
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    background:ghostwhite
}

div
{
    padding: 0;
    margin: 0;
}

h1
{
    font-size:35px;
    padding-left:12px;
    margin:5px;
}

td
{
    vertical-align: top;
}

#topDiv
{
    background: gray;
    color: whitesmoke;
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height:90px;
}

#middleDiv
{
    background: whitesmoke;
    clear: both;
}

#bottomDiv
{
    background: gray;
    color: whitesmoke;
    padding: 4px;
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#toolBarDiv
{
    padding: 4px;
    clear: both;
    height: 30px;
}

#leftDiv
{
    background: aliceblue;
    float: left;
    width: 200px;
    border: 1px solid navy;
}

#centreDiv
{
    padding: 10px;
    float: left;
}

#rightDiv
{
    float: right;
    width: 300px;
}

#headingDiv
{
    float: left;
    width: auto;
}

#logoDiv
{
    float: left;
    width: auto;
}

#logoDiv img 
{
    height: 110px;
}

#userDiv
{
    float: right;
    width: 200px;
}

#updateDiv
{
    float: right;
    width: 120px;
}

.bound-list
{
}

.selection-list
{
    margin: 10px;
    position: relative;
    padding: 4px 4px 4px 4px;
    font-size: 14px;
}

.bound-list:after
{ 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.bound-list-item
{
    list-style: none;
}

.list-item
{
    list-style: none;
}

.bound-list-item:after
{
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.bound-list-view 
{
    display: block;
    float: left;
}

.list-view 
{
    display: block;
    float: left;
}

.selection-list .bound-list-item
{
    border: 1px solid transparent;
}

.selection-list .bound-list-item:hover
{
    cursor: pointer;
    border: 1px solid black;
}

.bound-list-delete
{
    display: block;
    width: 20px;
    float: right;
}

.bound-list-add
{
    display: block;
    width: 20px;
    float: right;
}

span.button
{
    cursor: pointer;
}

.tool-bar-button
{
    margin: 10px;
    position: relative;
    padding: 10px 10px 4px 4px;
    font-size: 14px;
    border: 1px solid transparent;
}

.tool-bar-button:hover
{
    cursor: pointer;
    border: 1px solid white;
}

.image-button
{
    margin: 1px;
    position: relative;
    padding: 1px;
    border: 1px solid transparent;
}

.image-button:hover
{
    cursor: pointer;
    border: 1px solid white;
}

.image-button:active
{
    cursor: pointer;
    border: 1px solid white;
    padding-left: 2px;
    padding-top: 2px;
    padding-right:0px;
    padding-bottom:0px;
}

#updateDiv .image-button
{
    width: 40px;
    height: 40px;
}

.panel-title
{
    display: block;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    width: 100%;
    margin: 10px;
}

.panel-heading
{
    border-top: 1px solid navy;
    display: block;
    font-size: 16px;
    font-weight: bold;
    align-content: center;
    width: 100%;
    margin: 6px;
}

.panel-sub-heading 
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin: 6px;
}

.machine-list
{
    list-style: none;
}

.machine-name
{
    text-transform: uppercase;
}

.security-rule-list
{
    list-style: none;
}

.security-rule
{
}

.selection-item
{
    margin: 4px;
    padding: 2px;
    border: 1px solid transparent;
}

.selection-item:hover
{
    cursor: pointer;
    border: 1px solid navy;
}

.data-form
{
    display: table;
    width: auto;
    border-spacing: 3px;
}

.data-row 
{
    display: table-row;
    width: auto;
}

.data-label
{
    display: table-cell;
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}

.data-field
{
    display: table-cell;
    font-weight: bold;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-field 
{
    display: inline;
    font-weight: bold;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-field.ip-address
{
    width: 75px;
}

.input-logon
{
    font-weight: bold;
    width: 90px;
    margin: 2px;
}

span.json-name
{
  color: blue;
}

span.json-string
{
  color: forestgreen;
}

span.saved
{
    color: greenyellow;
}

span.modified
{
    color: yellow;
    background: darkred;
}

.form-button
{
    display: table-cell;
    padding: 10px;
    height:15px;
    font-size: 15px;
    border: 1px solid navy;
    border-radius: 6px;
    background: cornflowerblue;
    color:white;
}

.form-button:hover
{
    cursor: pointer;
    border: 1px solid red;
}

.instruction
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
td.variable-name
{
    width:150px;
}