body,html
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    background:ghostwhite
}

div
{
    padding: 0;
    margin: 0;
}

h1
{
    font-size:35px;
    padding-left:12px;
    margin:5px;
}

td
{
    vertical-align: top;
}

#topDiv
{
    background: gray;
    color: whitesmoke;
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height:90px;
}

#middleDiv
{
    background: whitesmoke;
    clear: both;
}

#bottomDiv
{
    background: gray;
    color: whitesmoke;
    padding: 4px;
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#toolBarDiv
{
    padding: 4px;
    clear: both;
    height: 30px;
}

#leftDiv
{
    background: aliceblue;
    float: left;
    width: 200px;
    border: 1px solid navy;
}

#centreDiv
{
    padding: 10px;
    float: left;
}

#rightDiv
{
    float: right;
    width: 300px;
}

#headingDiv
{
    float: left;
    width: auto;
}

#logoDiv
{
    float: left;
    width: auto;
}

#logoDiv img 
{
    height: 110px;
}

#userDiv
{
    float: right;
    width: 200px;
}

#updateDiv
{
    float: right;
    width: 120px;
}

.boundList
{
}

.boundList:after
{ 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.boundListElement:after
{
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.boundListView 
{
    display: block;
    float: left;
}

.boundListDelete
{
    display: block;
    width: 20px;
    float: right;
}

.boundListAdd
{
    display: block;
    width: 25px;
    float: right;
}

span.button
{
    cursor: pointer;
}

.toolBarButton
{
    margin: 10px;
    position: relative;
    padding: 10px 10px 4px 4px;
    font-size: 14px;
    border: 1px solid transparent;
}

.toolBarButton:hover
{
    cursor: pointer;
    border: 1px solid white;
}

.imageButton
{
    margin: 1px;
    position: relative;
    padding: 1px;
    border: 1px solid transparent;
}

.imageButton:hover
{
    cursor: pointer;
    border: 1px solid white;
}

.imageButton:active
{
    cursor: pointer;
    border: 1px solid white;
    padding-left: 2px;
    padding-top: 2px;
    padding-right:0px;
    padding-bottom:0px;
}

#updateDiv .imageButton
{
    width: 40px;
    height: 40px;
}

.panelTitle
{
    display: block;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    width: 100%;
    margin: 10px;
}

.panelHeading
{
    border-top: 1px solid navy;
    display: block;
    font-size: 16px;
    font-weight: bold;
    align-content: center;
    width: 100%;
    margin: 6px;
}

.panelSubHeading 
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin: 6px;
}

.selectionList
{
    list-style: none;
    margin: 10px;
    position: relative;
    padding: 4px 4px 4px 4px;
    font-size: 14px;
}

.machineList
{
    list-style: none;
}

.machineName
{
    text-transform: uppercase;
}

.securityRuleList
{
    list-style: none;
}

.securityRule
{
}

.selectionItem
{
    margin: 4px;
    padding: 2px;
    border: 1px solid transparent;
}

.selectionItem:hover
{
    cursor: pointer;
    border: 1px solid navy;
}

.dataForm
{
    display: table;
    width: auto;
    border-spacing: 3px;
}

.dataRow 
{
    display: table-row;
    width: auto;
}

.dataLabel
{
    display: table-cell;
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}

.dataField
{
    display: table-cell;
    font-weight: bold;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.inputField 
{
    display: inline;
    font-weight: bold;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.inputField.ipAddress
{
    width: 75px;
}

.inputLogon
{
    font-weight: bold;
    width: 90px;
    margin: 2px;
}

span.jsonName
{
  color: blue;
}

span.jsonString
{
  color: forestgreen;
}

span.saved
{
    color: greenyellow;
}

span.modified
{
    color: yellow;
    background: darkred;
}

.formButton
{
    display: table-cell;
    padding: 10px;
    height:15px;
    font-size: 15px;
    border: 1px solid navy;
    border-radius: 6px;
    background: cornflowerblue;
    color:white;
}

.formButton:hover
{
    cursor: pointer;
    border: 1px solid red;
}

.instruction
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
td.variableName
{
    width:150px;
}