{
  urchin:
  {
    server:
	{
	  version:1,
	  persister:
	  {
	    filePath:"c:\\temp\\rules.txt",
		repository:"rules"
      },
	  ui:
	  {
	    url:"/ui",
	    physicalPath:"~/ui/build/web",
		faviconUrl:"/favicon.ico",
		cache: false
	  },
	  logon:
	  {
	    administratorPassword:"password",
		sessionExpiry:"00:45:00",
		cookieName:"urchin_session_token"
	  }
	}
  },

  prius:
  {
    databases:
	[ 
	  {
	    name:"urchinRules", 
		type:"MySql", 
		connectionString:"Server=localhost;Port=3306;Uid=user;Pwd=password;Database=Urchin",
		enabled:true
	  } 
	],
	fallbackPolicies:
	[ 
	  { name:"dontFailover", allowedFailurePercent:100 }
	],
	repositories:
	[
	  {
	    name:"rules", 
		clusters:[ { databases:["urchinRules"], fallbackPolicy:"dontFailover" } ]
	  }
	]
  }

}