<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <system.webServer>
    <handlers>
            <clear />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="GET,POST,PUT,DELETE" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>